@font-face
  font-family: 'basictitlefont'
  src: url('/fonts/basictitlefont.eot')
  src: url('/fonts/basictitlefont.eot?#iefix') format('embedded-opentype'), url('/fonts/basictitlefont.woff2') format('woff2'), url('/fonts/basictitlefont.woff') format('woff'), url('/fonts/basictitlefont.ttf') format('truetype'), url('/fonts/basictitlefont.svg#basic_title_fontregular') format('svg')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'futurist'
  src: url('/fonts/furfw.eot')
  src: url('/fonts/furfw.eot?#iefix') format('embedded-opentype'), url('/fonts/furfw.woff2') format('woff2'), url('/fonts/furfw.woff') format('woff'), url('/fonts/furfw.ttf') format('truetype'), url('furfw.svg#futurist_fixed-widthregular') format('svg')
  font-weight: normal
  font-style: normal

*
  color: #333333
  font-weight: normal
  text-align: center

body, a
  font-family: 'futurist', sans-serif
  font-weight: 300
  position: relative

#header
  position: relative
  text-align: center

  h1
    font-size: 110px
    width: 625px
    margin: 0 auto
    font-weight: normal
    text-transform: uppercase
    font-family: 'basictitlefont'
    letter-spacing: 90px
    padding-top: 80px

  h1.images
    letter-spacing: 66px

  h1.credits
    letter-spacing: 48px

#content
  h2
    width: 625px
    margin: 0 auto
    font-size: 25px
    text-transform: uppercase
    font-weight: 300
    font-family: 'futurist'
    margin: 20px  auto 60px auto
    color: #9c9c9c

    &.the_laboratory
      letter-spacing: 18px

    &.the_fields
      letter-spacing: 35px

    &.the_city_daytime
      letter-spacing: 10px

    &.the_city_nighttime_part_1
      letter-spacing: -2px

    &.the_city_nighttime_part_2
      letter-spacing: -2px

    &.the_ocean
      letter-spacing: 40px

  nav
    .next
      position: absolute
      float: right
      right: 20px

    .previous
      position: absolute
      float: left
      left: 20px

.next, .previous
  top: 80px
  text-decoration: none
  font-size: 35px
  font-family: 'basictitlefont'
  width: 19px
  height: 31px
  font-size: 70px

#content
  section.video
    height: 540px
    width: 965px
    display: block
    background: #efefef
    margin: 0 auto

  .credits
    dt
      font-family: 'basictitlefont'
      text-transform: uppercase
      font-size: 40px
      text-decoration: underline
      padding: 15px 0
    dd
      padding: 0 0 10px 0
      font-family: "Source Code Pro"


footer
  margin-top: 20px
  a
    text-decoration: none
    display: inline-block
    margin: 0 15px
    text-transform: uppercase

.countdown
  position: absolute
  width: 100%
  top: 20px
  text-align: center

#act_info
  padding: 50px
  max-width: 760px
  margin: 0 auto
  font-family: "Source Code Pro"
  strong
    font-weight: bold
  em
    display: block

  h1
    font-size: 18px
    font-weight: bold
    padding-top: 15px
  h2
    font-weight: bold
    font-style: italic
    padding-top: 10px
  a
    text-decoration: none
    font-size: 35px
    font-family: 'basictitlefont'
    font-size: 70px
    display: inline-block
    padding: 20px

