*
  color: #333333

body, a
  font-family: 'Lato', sans-serif
  font-weight: 300
  position: relative

article
  margin: 0 auto

  h1, h2, h3, h4
    font-weight: normal

  h1
    font-size: 80px
    text-transform: uppercase
    font-weight: 200
    background: url('/images/logo.jpg') no-repeat 0 80px
    width: 587px
    height: 84px
    margin: 0 auto
    padding-top: 80px
    text-indent: -9999px

  h2
    font-size: 18px
    text-transform: uppercase
    font-weight: 300

header
  position: relative
  nav
    .next
      right: 20px
      background: url('/images/next.jpg') no-repeat

    .previous
      left: 20px
      background: url('/images/previous.jpg') no-repeat

    a
      position: absolute
      top: 80px
      text-decoration: none
      font-size: 35px
      width: 19px
      height: 31px
      text-indent: -9999px

  h2
    height: 23px
    width: 582px
    text-indent: -9999px
    margin: 27px auto 45px auto

h2.the_laboratory
  background: url('/images/the_laboratory.jpg') no-repeat

h2.the_fields
  background: url('/images/the_fields.jpg') no-repeat

h2.the_city_daytime
  background: url('/images/the_city_daytime.jpg') no-repeat

h2.the_city_nighttime_part_1
  background: url('/images/the_city_nighttime_part_1.jpg') no-repeat

h2.the_city_nighttime_part_2
  background: url('/images/the_city_nighttime_part_2.jpg') no-repeat

h2.the_ocean
  background: url('/images/the_ocean.jpg') no-repeat

#main
  height: 540px
  width: 965px
  display: block
  background: #efefef
  margin: 0 auto

footer
  text-align: center
  a
    text-indent: -9999px
    display: inline-block
    margin: 40px 29px 30px 29px

    &.preorder
      background: url('/images/preorder.jpg') no-repeat
      width: 133px
    &.act_info
      background: url('/images/act_info.jpg') no-repeat
      width: 123px
    &.images
      background: url('/images/images.jpg') no-repeat
      width: 95px
    &.credits
      background: url('/images/credits.jpg') no-repeat
      width: 117px

.countdown
  position: absolute
  top: 20px
  left: 50%
  margin-left: -50px
