!!!
%html
  = partial "head"

  %body
    %header#header
      %h1.credits Credits
      .countdown
    %article#content
      = yield

    %footer
      %nav
        = link_to "<", "index.html", class: 'previous'
