---
layout: act_info
---

- content_for :title do
  %h1 Clone
  %h2.the_city_nighttime_part_2 The City, Nighttime Part 2

- content_for :footer do
  = link_to "<", "/the_city_nighttime_part_2.html", class: 'previous'

%article#act_info
  :markdown

    # 0:00 - 0:55:

    __Subject 006__ opens his eyes. It is late and the house is still. He is in a bedroom upstairs. He is stiff from The Spider's beating. The doorknob turns. The Madame enters quietly, closing the door behind her. She's carrying __Subject 006__'s clothes. She prompts him to get dressed.

    ## Voice Feed:

    _Wake up_
    _No words_
    _Shhh_
    _Don't cry_
    _Follow me_
    _Be Hasty_
    _Walk Light_
    _Tip Toes_
    _Through Here_
    _Watch your feet_
    _The third one creeks_

    # 0:55 - 2:03:

    She leads __Subject 006__ through the house, careful not to make noise. He follows, but he is wary. He asks if she is going to hurt him, too. The Madame looks sad when she answers him.

    ## Voice Feed:

    _Who are you?_
    _Is this another trick?_
    _And what do you want?_
    _And will it hurt?_
    _I'm a fallen angel_
    _I'm here to help you leave_
    _I'm sorry for your loss_
    _This wasn't supposed to be_
    _Why'd they do that to me?_
    _Just let it be._
    _Outside_
    _That door_
    _You'll find_
    _A trail of stones_
    _To Follow_
    _That's it_
    _That's as far as I can go_
    _You're on your own_
    _My darling,_
    _Goodbye_

    # 2:03 - 4:00:

    __Subject 006__ is in a dark alleyway. He looks back to see The Madame still watching him. She looks sad still. He wonders what will happen to her for letting him escape. She shoos him away, and he obeys.

    He walks quickly, his soreness more pronounced now. He is happy to be away from The Spider, but he does not know where he is. The dark alley feeds into another, then another. It feels like a labyrinth. Dirty men and women watch him pass. Some ask him for change, others just stare. He quickens his pace.

    # 4:00 - 6:52:

    He emerges onto the city streets. Street lights flicker, offering little light. Groups of men, some with mechanical limbs or other modifications, crowd around flaming trash barrels. Graffiti litters the walls. Everyone moves about in groups and gangs. __Subject 006__'s instincts tell him to keep quiet and not make eye contact.

    # 6:52 - 8:43:

    __Subject 006__ steps into an alley to catch his breath. He stops abruptly. His brothers, The Defects, are all standing in the alley, as though hiding. They are poorly dressed. Subject 001, the oldest and lowest functioning of them, is still naked. They see __Subject 006__ just as he spots them. They appear happy to see him, but __Subject 006__ feels uneasy. He keeps his distance. As they approach, he backs away. Anger flashes in the eyes of Subject 005. Each is always jealous of the newest iteration, for they were the best before the newer version was born. The anger continues down the chain. When The Defects speak, their voices are monotone. Only Subject 001 does not speak during the confrontation.

    ## Voice Feed:

    _Hello_
    _Good evening, Brother_
    _We've been looking for you_
    _Stay together_
    _Together like family_
    _Good Brother, evening, hello_
    _We've been looking for us_
    _Aren't you glad that we found us?_
    _Aren't we glad we found us?_
    _Don't worry you can trust us_
    _We're all cut from the same cloth_
    _Why do you back away now?_
    _You're just a copy like us!_
    _You always were his favorite_
    _What makes you so much better?_
    _You're just a copy like us!_
    _Father always loved you best!_
    _Father always loved you best!_
    _Father always loved you best!_
    _Father always loved you best!_
    _But look who's in charge now …_

    # 8:43 - 9:38:

    The Defects run for __Subject 006__. They grab at him and try to pull him down. __Subject 006__
    kicks at them, fighting back for the first time.

    # 9:38 - 10:01:

    Subject 001 gets between __Subject 006__ and the others. He has trouble forming words, but he defends his youngest brother.

    ## Voice Feed:

    _Isn't he just like us?_
    _Isn't he what we're supposed to be?_
    _But we never will_

    # 10:01 - 10: 55:

    Subject 002 - 005 rage at this comment. Being the most defective, Subject 001 has no right to challenge them. They push him to the ground. __Subject 006__ backs away, horrified as his brothers stomp Subject 001 to death.

    __Subject 006__ vomits in the mouth of the alley. Then yet again, he runs.

    # End of Act Five
