---
layout: act_info
---

- content_for :title do
  %h1 Clone
  %h2.the_city_nighttime_part_1 The City, Nighttime Part 1

- content_for :footer do
  = link_to "<", "/the_city_nighttime_part_1.html", class: 'previous'

%article#act_info
  :markdown

    ## 0:00 - 3:06:

    __Subject 006__ rides in The Old Man's car. The Old Man offered __Subject 006__ a place to sleep for a few days and __Subject 006__ accepted.

    They drive to the outskirts of the city. The people here look tired, disheveled and unfriendly. The buildings, too, are run-down. Some sagging, some boarded and abandoned. They pull up to a house at the end of a dark avenue. It is large and doesn't match its surroundings. __Subject 006__ follows The Old Man inside. He's led to a white room, empty accept for a bed with dirty sheets, a camera, 3 bright lights, and a dark window that looks into the room.

    Once in the room, The Old Man asks __Subject 006__ to follow some instructions. The requests make __Subject 006__ increasingly uncomfortable, but __Subject 006__ does not know how to refuse.


    ## Voice Feed (scattered):

    _Is this your house?_
    _Yes, please._
    _Okay. Thank you._
    _What does that mean?_
    _No. I … I don't think so._
    _Why would someone look for me?_
    _What's wrong with my clothes?_
    _Who are those people watching?_

    ## 3:06 - 4:00:

    An ill feeling rises in __Subject 006__. He's upset by what The Old Man is requesting, of what the men behind the glass wish to see. He attempts to dress himself.

    ## Voice Feed:

    _No this feels off._
    _Not right_
    _Something's gone out of place_
    _Can't seem to shake_
    _This feeling something's breaking_
    _Thank you for all you've done_
    _But I'd like to leave now_
    _Could you move from the door?_

    ## 4:00 - 4:11:

    The Old Man's demeanor abruptly changes. He no longer looks kind, and he moves differently. He no longer appears old, just big and threatening. __Subject 006__ shrinks away from him, backing against the wall.

    ## Voice Feed:

    _Who._
    _Do._
    _You._
    _Think._
    _You._
    _Are?_

    ## 4:11 - 5:05:

    The Spider, as __Subject 006__ now sees The Old Man, begins to hurt __Subject 006__, berating him as he does it.

    ## Voice Feed:

    _I suppose a helping hand doesn't mean much to someone like you?_
    _Greedy claws, oh, I know your kind! Always leeching like leeches!_
    _Waiting for a handout at every open._
    _Well, I'm not gonna be the fool this time._
    _You got yours; now you're mine._

    ## 5:05 - 5:32:

    __Subject 006__ tries ineffectively to escape his beating. The Trickster's words play over and over in his mind.

    Now you're mine.

    ## 5:32 - 6:38:

    The Spider continues to rage and throw __Subject 006__ around the room. The onlookers applaud. __Subject 006__'s mind and body burn with the adrenaline. Bruises show quickly on his pale, new skin. He's eventually left shaking and crying on the bed. The Spider says he doesn't like doing this, but __Subject 006__ must learn to mind his elders. __Subject 006__ does not hear him.

    ## 6:38 - 8:47:

    __Subject 006__ stares blankly on the the bed. The blood from his nose and mouth stain the pillow beneath him.

    ## Voice Feed:

    _Oh, I'm hollow_
    _How I fall?_
    _Oh, I am burning_
    _While I freeze_
    _Right now I'd rather be_
    _Anyone but me_
    _So this is regret_

    _Take this away_
    _Take them away_
    _Take me away_

    ## 8:47 - End:

    A woman smoking a cigarette watches __Subject 006__ though a crack in the doorway. The Madame, as she is known, observes him for a long time. She feels things she had considered long dead: pity, remorse, and a strong desire to protect this helpless man.

    ## Voice Feed:

    _What do we have here?_
    _A foolish young boy_
    _In a man's body_
    _Eyes made for toys_
    _This one's too open_
    _No dirt on his hands_
    _This place will break him_
    _With no resistance_
    _And this time it's wrong_

    # End of Act Four

