---
layout: act_info
---

- content_for :title do
  %h1 Clone
  %h2.the_ocean The Ocean

- content_for :footer do
  = link_to "<", "/the_ocean.html", class: 'previous'

%article#act_info
  :markdown

    # 0:00 - 2:20:

    __Subject 006__ walks away from the city. He follows the less populated roads to avoid people. The sun begins to rise. It's his first sunset, but he's too drained to appreciate it.

    Hours later, he arrives at a train station.

    # 2:20 - 3:48:

    In the train station, __Subject 006__ sits against a wall with no people nearby. He closes his eyes.

    He wakes to a tap on the shoulder. In front of him is a young boy, 9 years old. He looks concerned. He asks __Subject 006__ if he is okay. __Subject 006__ shakes his head, and the boy sits down next to him. They sit in silence for a time. The boy, Timothy, eventually asks if __Subject 006__ has ever been to the ocean.

    ## Voice Feed:

    _No, no more_
    _I am done_
    _I am empty_
    _I've seen enough_
    _No matter what_
    _Something's always missing_
    _Who are you?_
    _What's this place,_
    _You call the ocean?_
    _Well, it sounds nice_
    _But I don't know how I'd ever make it there_

    # 3:48 - 4:17:

    Timothy hands __Subject 006__ his train ticket and says that his father surely has more. __Subject 006__ thanks him, crying from the sudden kindness. Timothy presents his hand and they shake.

    # 4:17 - 6:13:

    __Subject 006__ boards the train. Timothy waves at him and __Subject 006__ waves back. As the train pulls away from the city, __Subject 006__ feels more optimistic. Timothy's description of the ocean was infectious. He smiles as the city shrinks behind him.

    ## Voice Feed:

    _So I'm on my way_
    _To a better place_
    _As I ride this train_
    _And the buildings pull away_
    _And I'm on my way_
    _To a safer place_
    _As I ride this train_
    _And the City's shrinking_
    _I'm on my way_
    _And I'm not sure where_
    _But I feel okay_
    _Now there's nothing back that way_

    # 6:13 - 8:28:

    __Subject 006__ arrives on the shore. He walks up to the water and stares out at the horizon. He loses track of the time. He feels calm watching the waves, and forgets his bruises and aches.

    An elderly man approaches him. __Subject 006__ starts to back away, but stops. The man looks intensely familiar. He feels he knows him, and his instinct is to hug him. The elderly man is looking at him the same way.

    Finally he speaks.
    “I'm sorry if this sounds strange, but you look exactly like my son.”

    # The End
