---
layout: act_info
---

- content_for :title do
  %h1 Clone
  %h2.the_fields The Fields

- content_for :footer do
  = link_to "<", "/the_fields.html", class: 'previous'

%article#act_info
  :markdown

    # 0:00 - 2:00:

    __Subject 006__, having escaped The Laboratory, finds himself in nature for the first time. Surrounded first by trees, he follows a path and steps into a field. He is in awe of it. His thoughts are erratic from excitement.

    ## Voice Feed:

    _So now I fall_
    _All the sudden_
    _And I fall into_
    _the dirt, the sky, the wind, the light, the palisades_
    _Oh, the thundermouth!_
    _The thunder ... it's open -_
    _An animal is startled off_
    _All in unison_
    _but it's all still separate_
    _Multum in parvo_
    _Am I apart of this?_
    _Or am I foreign?_
    _An alien component?_
    _No mind._
    _Gorgeous colors color my eyes._
    _Gorgeous color my eyes._
    _I'm alone._
    _And I'm a part of this, too._
    _I am what I choose._
    _Today._

    # 2:00 - 3:35:
    __Subject 006__ bursts into a run. He smells flowers, runs his hands along trees, stumbles down hills, smiles at the birds and other wildlife.

    # 3:35 - 5:30:
    __Subject 006__ experiences exhaustion for the first time. New to the sensation, he wonders whether he's breaking. He rests against a tree and falls asleep.

    ## Voice Feed:

    _Limbs, warm and leaden._
    _Pulse is running from my wrists to heaven._
    _My heartbeat in the clouds._
    _All is slowing down, here on the ground._
    _I am very well spent._
    _So. Am I breaking?_
    _Is this normal?_
    _Catch my breath._
    _Take a rest._
    _My eyelids tumble down._
    _Just a minute._
    _Mr. Tree, can I lay with you awhile?_

    # 5:30 - 6:53:
    __Subject 006__ is asleep, and experiences his first dream. It is full of memories that are
    familiar, but he cannot place them. They feel like a part of him, but he can't say why. He wonders if he inherited them from his “father”, Atticus.

    # 6:53 - 7:35:
    __Subject 006__ is startled awake. He opens his eyes to a long procession of people. They are walking
    through the field single file. They ask __Subject 006__ if he is in line. He doesn't understand the question, but decides to follow the group. The men and women in line are disheveled, tired, sad, or angry. The leads to a crowd in front of an isolated stage.

    ## Voice Feed:

    _Are you in line?_
    _Am I in line?_

    # 7:35 - 8:32:
    A man in white clothing steps onto the stage, his arms spread wide. The people begin to sing and chant as he approaches. Behind him are four cloaked figures. They walk strangely. The Mad Preacher hushes the crowd and says:

    ## Voice Feed:

    _Come my faithless, come my mad!_
    _Bring your broken hearts!_
    _Bring you missing teeth in bags!_
    _Oh, you know you're never gonna use them old parts!_
    _Count your curses, count them twice!_
    _We're all innocent!_
    _So come and get what you get!_

    # 8:32 - 9:00:
    From behind The Mad Preacher, the four figures shed their hoods. They are not men, but
    clusters of small, nearly featureless creatures. They tear the followers to pieces, stuffing their severed
    body parts into bags. No one resists. The Mad Preacher smiles. __Subject 006__ is horrified. The sacrifice is brutal and quick. He yet again runs.

    # 9:00 - 9:42:

    __Subject 006__ is a good distance from the cult and their stage. He catches his breath beneath a tree, wondering about what he just witnessed. He's left shaken and unnerved. He hopes that the people are all okay.

    ## Voice Feed:

    _What was that all?_
    _Oh, what went wrong?_
    _Who were all those bodies?_
    _Cold and colorless_
    _But moving_
    _Tongues and limbs_
    _Toward the monster_
    _And now they're gone_
    _I don't know where to_
    _But I hope they're happy_
    _All in unison._
    _But there's that sound again …_

    # 9:42 - End:
    __Subject 006__ hears the creatures again. He runs, this time even faster.

    Later, he descends a hill and finds the entrance to an abandoned subway tunnel, disused, dirty, and lit only by blinking safety lights. He steps inside and follows it into The City.

    # End of Act 2
