---
layout: act_info
---

- content_for :title do
  %h1 Clone
  %h2.the_fields The City, Daytime

- content_for :footer do
  = link_to "<", "/the_city_daytime.html", class: 'previous'

%article#act_info
  :markdown

    # 0:00 - 1:30:
    __Subject 006__ ventures down the abandoned tunnel. The dark is near complete, but there's a light at the end of the tunnel. He stumbles toward it.

    # 1:30 - 3:12:
    __Subject 006__'s eyes burn from the light. Once his vision clears, he sees people, cars, vendors, impossibly tall buildings. He's fascinated by all the commotion. He wanders through it, slowly getting swept up.

    ## Voice Feed:
    _So this tunnel has an end_
    _So bright my eyes can't open_
    _Vision fades to normal now_
    _What's that overwhelming sound?_
    _Who are all these people here?_
    _Should I be afraid of them?_
    _Some are trapped in strange machines_
    _Some are going inside buildings_
    _Towers surround me_
    _Where did all this come from?_
    _No one seems to notice me_
    _They're on their way to I don't know where_
    _They all move so rapidly_
    _No one looks the same at all_
    _So many things are living here_
    _I wonder where they all came from?_
    _This energy is filling me_
    _Fall into a sea of people_
    _Movement surrounds me_
    _Follow the current now!_

    # 3:12 - 5:05:
    __Subject 006__ moves through the business district. It is rush hour. He starts to discern that each person here has a purpose. He mimics them as best he can.

    ## Voice Feed:

    _So now I understand_
    _Everybody must do something_
    _Some will open doors and some shake hands_
    _Some will sleep outside_
    _Some just stare off into nothing_
    _I will open doors_
    _I will see what's inside trash cans_
    _I will often ride the moving stairs_
    _Now I understand_
    _Everybody must do something_

    # 5:05 - 8:06:
    The sky quickly darkens. Heavy clouds loom overhead. It sprinkles, then rains. Everyone goes indoors, and the commotion dies quickly. __Subject 006__ continues walking the streets. He shivers from the cold.

    ## Voice Feed:

    _Did I have it wrong?_
    _Now everyone's gone_
    _When the water fell from the sky_
    _Now I'm alone_
    _The world is gray and my skin is cold_
    _And my clothes are all heavy now_
    _Is it something that I have done?_
    _Did I not understand?_
    _Everything's wet and shiny now_
    _Is this what they don't want?_
    _This water is cleaning us_
    _It's not so bad after all_
    _It's not so bad after all_

    # 8:06 - 9:14:

    An older gentleman watches __Subject 006__ from a nearby doorway, smoking a pipe. He's large-framed, well-dressed and standing in the mouth of a poorly kept antique store. When he speaks, his voice is raspy, but friendly. He smiles easily. He asks __Subject 006__ to join him inside.

    ## Voice Feed:

    _Hey there, kid_
    _Lovely weather tonight_
    _Like the gods are all pissing from high_
    _What you doing out there?_
    _You trying to drown?_
    _Follow me, step inside, and settle down_
    _I don't know what to think of all this_
    _It's just rain_
    _It'll be gone in a bit_
    _Come inside, near the fire, take a seat_
    _I know just what you need_
    _Though, I feel much better now_
    _But why?_
    _Why did you help me out?_
    _Why do dogs bite?_
    _Why is blood red?_
    _That's just what friends are for!_

    # 9:14 - End:

    The Old Man makes __Subject 006__ some tea and gives him a blanket. As __Subject 006__ warms up, The Old Man entertains him with stories. __Subject 006__ does not understand most of the references, but smiles politely whenever the man laughs. __Subject 006__ does not recognize the greed building in The Old Man's eyes.

    ## Voice Feed:

    _Quiet, please_
    _Trust in me, boy_
    _I know what you're good for_

    # End of Act 3
