
%footer
  %nav
    = link_to "Preorder", "#", class: 'preorder'
    = link_to "Act Info", info, class: 'act_info'
    = link_to "Images", images, class: 'images'
    = link_to "Credits", "/credits", class: 'credits'
