---
layout: images
---

%article#images
  %ul
    %li
      %a(href="/hall.html")
        %img(src="/images/hall_thumb.jpg")
    %li
      %a(href="/hands.html")
        %img(src="/images/hands_thumb.jpg")
