---
layout: images
---

%article#images
  %ul
    %li
      %a(href="/hands.html")
        %img(src="/images/hands_thumb.jpg")
    %li
      %a(href="/hall.html")
        %img(src="/images/hall_thumb.jpg")
    %li
      %a(href="/fields.html")
        %img(src="/images/fields_thumb.jpg")
    %li
      %a(href="/city_daytime.html")
        %img(src="/images/city_daytime_thumb.jpg")
    %li
      %a(href="/city_nighttime1.html")
        %img(src="/images/city_nighttime1_thumb.jpg")
    %li
      %a(href="/city_nighttime2.html")
        %img(src="/images/city_nighttime2_thumb.jpg")
    %li
      %a(href="/ocean.html")
        %img(src="/images/ocean_thumb.jpg")
