---
layout: credits
---

#section.credits
  %dl
    %dt Music
    %dd all songs written, performed and engineered by Rick Colado and Ben Cooper

    %dt Technical
    %dd mixed by Ben Cooper, mastered by Greg Reely

    %dt Design
    %dd web and product design by Ben Cooper

    %dt Video
    %dd animation and after effects by Destyn Patera

    %dt Images
    %dd artwork by Gordon Mcbryde and Ben Cooper

    %dt Code
    %dd website coded by Micah Cooper
