!!!
%html
  = partial "head"

  %body
    %header#header
      %h1.images Images
      .countdown
    %article#images
      = yield

    %footer
      %nav
        = link_to "<", "/all_images.html", class: 'previous'
