- content_for :act_info do
  = link_to "Act Info", 'act_info/the_laboratory.html'


%header
  %h2.the_laboratory The Laboratory
  %nav
    = link_to ">", "the_fields.html", class: "next"

%section.video
