- content_for :title do
  %nav
    = link_to "<", "the_city_nighttime_part_1.html", class: "previous"
    = link_to ">", "#", class: "next"
  %h1 Clone
  %h2.the_city_nighttime_part_2 The City: Nighttime Part 2

%article#video
  %iframe(width="960" height="540" src="//www.youtube.com/embed/rh17mIcerpY" frameborder="0" allowfullscreen)

- content_for :act_info do
  = link_to "Act Info", 'act_info/the_city_nighttime_part_2.html'
