%header
  %h2.the_city_nighttime_part_2 The City: Nighttime Part 2
  %nav
    = link_to "<", "the_city_nighttime_part_1.html", class: "previous"
    = link_to ">", "the_ocean.html", class: "next"

%section.video
