- content_for :title do
  %nav
    = link_to ">", "#", class: "next"
  %h1 Clone
  %h2.the_laboratory The Laboratory

%article#video
  %iframe(width="960" height="540" src="//www.youtube.com/embed/K25PIXD94ZM" frameborder="0" allowfullscreen)

- content_for :act_info do
  = link_to "Act Info", 'act_info/the_laboratory.html'
