%header
  %h1 Clone
  %h2 The fields
  %nav
    = link_to "<", "/the_laboratory.html", class: "previous"
    = link_to ">", "/the_city_daytime.html", class: "next"

%section#main
  .video

= partial 'footer', locals: { info: "", images: ""}
